/* 
    Seletores

    * => seletor universal (seleciona o documento inteiro)
    #algumId => seletor por id
    .algumaClasse ou elemento.algumaClasse => seletor por classe
    h1 => seleciona todos os h1 do documento
    h1, h2 => seleciona todos os [ h1 e h2 ] do documento
    li a => seletor descendente: seleciona todos os <a> dentro de um <li>
    h1 + p => seletor adjacente: seleciona todos os <p> que são imediatamente precedidos(não aninhados) por <h1>
    div > li => filho direto: seleciona somente os <li> que são filhos diretos de um <div>
    input[type="text"] => seletor de atributo: seleciona todos os inputs com o atributo definidos como texto.
*/

/* 
    Pseudo classes: palavra-chave adicionada a um seletor que especifica um estado especial do elemento selecionado
    
    a:hover => aplica algum estilo quando o cursor passar em cima de todos os <a>.
    a:active => aplica algum estilo quando o elemento for ativado (ex.: clicando no link (<a>)).
    input[type="text"]:focus => aplica algum estilo quando o elemento é focado
    :checked => aplica algum estilo quando botões radio ou checkboxes são ligados (selecionados).
    a:nth-of-type(An+B | even | odd) => aplica estilo a todos os <a> baseado na sua posição no documento 
    entre irmãos do mesmo tipo (tag). even -> todos os pares, odd -> todos os ímpares, An+B -> posições específicas.
*/

/* 
    Pseudo-elementos: palavra-chave adicionada a um seletor que permite estilizar uma parte particular do elemento
    selecionado.

    ::after => 
    ::before =>
    ::first-letter => aplica estilo a primeira letra de uma linha de um elemento block, mas somente quando não é 
    precedido por outro conteúdo (como tabelas ou imagens).
    ::first-line => aplica estilo a primeira linha de um elemento block.
    ::selection => aplica estilo a parte do documento que está sendo destacada pelo usuário (como clicando e arrastando
    o mouse pelo texto).

*/

/* 
    Especificidade CSS: é como o navegador quais estilos aplicar quando tiver confronto entre multiplas regras para
    estilizar o mesmo elemento.
    * é a medida de quão específico é um seletor. O seletor mais específico é aplicado.
    Regra geral: estilos inline > id > class, atributo e seletores de pseudo-classes > elementos e seletores de pseudo-elementos
*/
